body {background-color: #000000;}
p {color: #FFFFFF;}
#notstarted{color: #FF00FF;}
#onhold{color: #FF0000;}
#development{color: #FFFF00;}
#usable{color: #00FFFF;}
#testing{color: #00FF00;}
#complete{color: #0000FF;}

